<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lion City University</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid bg-light">
        <header class="container">
            <!-- A grey navbar that expands horizontally at medium device -->
            <nav class="navbar navbar-expand-md bg-light navbar-light">
                <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-sm-between align-items-center">
                    <!-- The brand(or icon) of the navbar -->
                    <div class="col-8 col-md-12">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img id="lcu-logo" src="~/images/logo.png" width="130" /></a><span class="d-none d-lg-inline" style="font-family: 'DM Serif Display', serif;">Competition Panel</span>
                    </div>
                    <div class="col-4">
                        <!-- Toggle/collapsible Button, also known as hamburger button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>


                <!-- Links in the navbar, displayed as drop-down list when collapsed -->
                <div class="collapse navbar-collapse" id="staffNavbar">
                    <!-- Links that are aligned to the left, mr-auto: right margin auto-adjusted -->
                    <ul class="navbar-nav mr-auto text-right text-md-left">
                        <li class="nav-item">
                            <!-- A link for logging out user -->
                            <a class="nav-link disabled" asp-controller="Home" asp-action="LogOut">About</a>
                        </li>
                        <li class="nav-item">
                            <!-- A link for logging out user -->
                            <a class="nav-link" asp-controller="Competition" asp-action="Index">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <!-- A link for logging out user -->
                            <a class="nav-link disabled" asp-controller="Home" asp-action="LogOut">Contact</a>
                        </li>

                    </ul>
                    <!-- Links that are aligned to the right ml-auto: left margin auto-adjusted -->
                    <ul class="navbar-nav ml-auto text-right text-md-left">
                        <li class="nav-item">
                            <!-- A link for logging out user -->
                            <a class="nav-link" asp-controller="Login" asp-action="Index">Login</a>
                        </li>
                        <li class="nav-item">
                            <!-- A link for logging out user -->
                            <a class="nav-link" asp-controller="Home" asp-action="LogOut">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-flex align-items-center" style="height: 60px;">
        <div class="container-fluid text-center mt-auto mb-auto">
            &copy; Lion City University (LCU) @DateTime.Today.Year, All Rights Reserved | Powered by TeamPK of Ngee Ann Polytechnic
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
