h1, h2, h3, h4, h5, h6  {
    font-family: 'DM Serif Display', serif;
}

.gold, .navbar-light .navbar-nav .nav-link {
    color: #a98f64;
}

.left-panel {
    background-image: url("../images/left-panel-bg.jpg");
    background-size: 100% 100%;
}

.right-panel {
    background-image: url("../images/right-panel-bg2.jpg"); 
    background-size: 100% 100%;
}

.competition-details {
    background-image: url("../images/24783.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
}
.min-vh-75 {
    min-height: 75vh;
}

.min-vh-80 {
    min-height: 80vh;
}

.background-gold {
    background-color: #a98f64;
}

.background-blue {
    background-color: #647ea9;
}

.black {
    color: #3b3b3b;
}

.comments {
    border-bottom: 1px solid #ebebeb;
}

.padding-override {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.font-dm {
    font-family: 'DM Serif Display', serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #3b3b3b;
}

.btn-180 {
    font-family: 'DM Serif Display', serif;
    width: 180px;
    font-weight: 500;
    color: #fff;
}

.btn-login {
    width: 100%;
}

.criteria-container {
    background-color: #E5E5E5;
    opacity: 0.75;
}

.criteria-header {
    font-family: 'DM Serif Display', serif;
    display: inline-block
}

#criteria-image {
    width: 20%;
    height: auto;
}

.criteria-value {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
}

.login-background {
    background-image: url('../images/bg-login.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.FormContent {
    padding: 15px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    text-align: center;
}

.form-control {
    width: 100%;
    background-color: #E5E5E5;
}

.judge-container {
    display: flex;
}

.judge-content {
    position: absolute;
    z-index: -1;
    padding-right: 15%;
    padding-top: 20px;
    padding-left: 20px
}

.judge-image {
    position: absolute;
    opacity: 0.3;
    z-index: 1;
    width: 85%;
    height: 300px;
    border-radius: 25px;
}

.vertical-center {
    justify-self: center;
}

/*.judge-left-panel:link, .judge-left-panel:visited, .judge-left-panel:hover, .judge-left-panel:active, .judge-right-panel:link, .judge-right-panel:visited, .judge-right-panel:hover, .judge-right-panel:active {
    text-decoration: none;
}*/

/* Start of Admin Panel */

.admin-container {
    display: flex;
}

.admin-left-container {
    height: 300px;
    width: 100%;
}

.admin-image {
    width: 95%;
    position: absolute;
    z-index: -1;
    height: 300px;
    opacity: .3;
    border-radius: 25px;

}

.admin-left-text {
    padding: 40px 0 0 40px;
}

.admin-right-container {
   
}

.admin-upper-container {
    height: 140px;
    background: rgba(170, 193, 213, 0.3);
    border-radius: 25px;
    margin-bottom: 20px;
}

.admin-upper-text {
    padding: 20px 0 0 20px;
}

.admin-lower-container {
    height: 140px;
    background: rgba(176, 209, 203, 0.3);
    border-radius: 25px;
    margin-top: 20px;
}

.admin-lower-text {
    padding: 20px 0 0 20px;
}

/* End of Admin Panel */

hr.solid {
    border-top: 3px solid #a98f64;
    width: 10vw;
    height: 50px;
    background-color: #a98f64;
    display: inline-block;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


@media only screen and (min-width: 769px) {
    .vh70 {
        height: 70vh;
    }

    .left-panel, .right-panel {
        height: 70vh;
    }

}

@media only screen and (max-width: 767px)
{

}