@model WEB2021Apr_P01_T01.Models.Competitor

@{
    ViewData["Title"] = "Competitor Panel";
}


<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competition Panel - Lion City University</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container vh70">
        <p>Competitor Panel</p>
        <br />
        <div class="d-flex flex-row justify-content-between w-100">
            @{
                var name = Context.Session.GetString("Name");
            }
            <div class="competitor-header-text">
                <h2>Welcome, </h2>
                <h1 class="gold"> @name</h1>
            </div>
            <div class="avatar">
                <img src="~/images/img_avatar.png" style="border-radius: 60px; width: 120px" />
            </div>
        </div>
        <br />
        <h2 class="gold">Your Participated Competitions</h2>
    </div>

</body>
</html>