@model WEB2021Apr_P01_T01.Models.CompetitorSubmissionViewModel

@{
    ViewData["Title"] = "JoinCompetition";
}

<h1>@Model.CompetitionName 's Submission Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CompetitionSubmissionDetails" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitorName" class="control-label"></label>
                <input asp-for="CompetitorName" class="form-control" />
                <span asp-validation-for="CompetitorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="CompetitorId" class="control-label"></label>
                <input asp-for="CompetitorId" class="form-control" />
                <span asp-validation-for="CompetitorId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="CompetitionId" class="control-label"></label>
                <input asp-for="CompetitionId" class="form-control" />
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultsReleaseDate" class="control-label"></label>
                <input asp-for="ResultsReleaseDate" class="form-control" />
                <span asp-validation-for="ResultsReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="background-gold" asp-for="fileToUpload" accept="" />
                <input type="submit" class="btn background-gold" asp-controller="Competitor" asp-action="CompetitionSubmissionDetails" asp-route-id="CompetitorId" value="Submit" />
                <span style="color:red;">@ViewData["UploadMessage"]</span>
            </div>
            <div class="form-group">
                <a class="btn background-gold disabled" asp-action="Appeal" asp-route-id="@Model.Appeal">Appeal</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Competitor Panel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
