@model WEB2021Apr_P01_T01.Models.CompetitionSubmission

@{
    ViewData["Title"] = "JoinCompetition";
}

<h1>@Model.CompetitionName 's Submission Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="JoinCompetition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitorName" class="control-label"></label>
                <input asp-for="CompetitorName" class="form-control" readonly/>
                <span asp-validation-for="CompetitorName" class="text-danger"></span>
                <span></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" readonly/>
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" readonly/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultReleasedDate" class="control-label"></label>
                <input asp-for="ResultReleasedDate" class="form-control" readonly/>
                <span asp-validation-for="ResultReleasedDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FileUploadDateTime" class="control-label"></label>
                <input asp-for="FileUploadDateTime" class="form-control" />
                <span asp-validation-for="FileUploadDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appeal" class="control-label"></label>
                <input asp-for="Appeal" class="form-control" />
                <span asp-validation-for="Appeal" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <a class="btn background-gold disabled" asp-action="UploadFile" asp-route-id="@Model.CompetitorId">Upload File</a>
            </div>
            <div class="form-group">
                <a class="btn background-gold disabled" asp-action="Appeal" asp-route-id="@Model.Appeal">Appeal</a>
            </div>
            @*
                When competitor submits a form, call an SQL method in DAL to UPDATE the data provided, which includes FileUrl, FileUploadDateTime
            *@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
