@{
    ViewData["Title"] = "Competition Panel";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competition Panel - Lion City University</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container vh65 d-md-flex align-items-md-center">
        <!-- 2nd row -->
        <div class="col-md-8 col-sm-12">
            <h1 class="gold" style="font-size: 2em">Lion City University</h1>
            <h2 class="title-font" style="font-size: 3.5em">Competition Panel</h2>
            <p>
                The competition web portal for Lion City University.<br />
                Unleash your competitive spirit and strive for gold.
            </p>
            <div class="mt-4 d-flex flex-row justify-content-between" style="width: 450px">
                <button class="btn btn-180 background-gold">View Competitions</button>
                <button class="btn btn-180 background-blue">Login</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <img id="greetImg" src="~/images/lion-flipped.png" class="img-fluid" style="max-width: 350px;"/>
        </div>
    </div>
</body>
</html>
