@{
    ViewData["Title"] = "Competition Panel";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competition Panel - Lion City University</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container vh70 d-flex flex-column-reverse flex-md-row justify-content-center align-items-center">
        <!-- 2nd row -->
        <div class="col-12 col-md-8">
            <h1 class="gold" style="font-size: 2em">Lion City University</h1>
            <h2 class="title-font" style="font-size: 3.5em">Competition Panel</h2>
            <p>
                The competition web portal for Lion City University.<br />
                Unleash your competitive spirit and strive for gold.
            </p>
            <div class="mt-4 w-100 d-flex flex-row justify-content-start">
                <a class="btn btn-180 background-gold mr-4" asp-controller="Competition" asp-action="Index">View Competitions</a>
                <a class="btn btn-180 background-blue ml-4" asp-controller="Login" asp-action="Index">Login</a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <img id="greetImg" src="~/images/lion-flipped.png" class="img-fluid" style="width: 300px;"/>
        </div>
    </div>
</body>
</html>
