@model WEB2021Apr_P01_T01.Models.CriteriaRankViewModel

@{
    ViewData["Title"] = "Edit";
}


<style>
    @@media (max-width: 769px) {
        .marks-end {
            flex-direction: column !important;
            width: 100% !important;
        }

        .marks-notes {
            flex-direction: column !important;
            width: 100% !important;
        }

        .grade-left {
            flex-direction: column !important;
            width: 100% !important;
            padding-right: 0px !important;
        }

        .grade-right {
            flex-direction: column !important;
            width: 100% !important;
            padding-left: 0px !important;
        }
    }
</style>


<div class="row">
    <div class="container">
        <h1>Edit</h1>

        <hr />
        <form asp-action="Edit" enctype='multipart/form-data' class="criteria-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Convert.ToInt32(ViewData["criteriaNo"].ToString()); i++)
            {
                <div class="col-sm-6">
                    <div class="criteria-content">
                        <span class="criteria-value d-flex">Criteria <input asp-for="CriteriaId[i]" class="form-control-plaintext" style="display: inline-block; padding-top: 0px; padding-left: 10px;" readonly /></span>
                    </div>
                    <div class="criteria-content">
                        <div class="form-group">
                            <label class="control-label">Score (0 - 10)</label>
                            <input asp-for="Score[i]" class="form-control" style="background-color: #fff" />
                            <span asp-validation-for="Score[i]" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            }
            <div class="criteria-footer col-12 flex-row d-flex marks-notes">
                <div class="form-group d-flex flex-column col-md-6 col-sm-12 grade-left">
                    <label asp-for="Ranking" class="control-label"></label>
                    <input asp-for="Ranking" class="form-control" style="background-color: #fff;" />
                    <span asp-validation-for="Ranking" class="text-danger"></span>
                </div>
                <div class="form-group d-flex flex-column col-md-6 col-sm-12 grade-right">
                    <label asp-for="TotalMarks" class="control-label"></label>
                    <input asp-for="TotalMarks" class="form-control" readonly />
                    <span asp-validation-for="TotalMarks" class="text-danger"></span>
                </div>
            </div>

            <div class="criteria-footer col-12 flex-row d-flex justify-content-end marks-end">
                <p class="criteria-error col-7">@TempData["error"]</p>
                <input type="submit" value="Save" class="btn btn-primary col-lg-4 col-md-4" />
            </div>
        </form>
    </div>
</div>
