@model WEB2021Apr_P01_T01.Models.CriteriaRankViewModel

@{
    ViewData["Title"] = "Grade";
}

<h1>Grade</h1>

<h4>CriteriaRankViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Grade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ranking" class="control-label"></label>
                <input asp-for="Ranking" class="form-control" />
                <span asp-validation-for="Ranking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

