
@{
    ViewData["Title"] = "Judge Panel";
}


<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competition Panel - Lion City University</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container vh70">
        <p>Judge Panel</p>
        <h2>Welcome,</h2>
        @if (@ViewData["compName"] is null)
        {
            <h1 class="gold">LCU Judge - Waiting to be assigned a competition</h1>
            <div class="judge-container">
                <div class="col-sm-12 col-md-6">
                    <a><img class="judge-image" src="~/images/judge-left-panel.jpg" /></a>
                    <div class="judge-content">
                        <h4>View Competitor</h4>
                        <p>You will be able to view this page after you have been assigned a competition</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <a><img class="judge-image" src="~/images/judge-hammer.png" /></a>
                    <div class="judge-content">
                        <h4>Create Judging Criteria</h4>
                        <p>You will be able to view this page after you have been assigned a competition</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1 class="gold">LCU Judge - Judging For @ViewData["compName"]</h1>
            <div class="judge-container">
                <div class="col-sm-12 col-md-6">
                    <a asp-action="JudgeCompetitor"><img class="judge-image" src="~/images/judge-left-panel.jpg" /></a>
                    <div class="judge-content">
                        <h4>View Competitor</h4>
                        <p>Current competitors to be judged.<br />Grade submission and edit ranking or marks.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <a asp-action="JudgeCriteria"><img class="judge-image" src="~/images/judge-hammer.png" /></a>
                    <div class="judge-content">
                        <h4>Create Judging Criteria</h4>
                        <p>Create the criterions and its weightage</p>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>