@model IEnumerable<WEB2021Apr_P01_T01.Models.AreaInterest>

@{
    ViewData["Title"] = "Area of Interest";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competition Panel - Lion City University</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <script src="~/js/site.js"></script>

    <script>
        function deleteModal(name, id) {
            $("#deleteForm").attr('action', '/Admin/Delete/' + id);
            $("#deleteModalBody").html('Name: ' + name);
            $("#deleteModal").modal('show');
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="d-flex" style="align-items: center; justify-content: space-between; margin: 0 15px;">
            <div class="aoi-titles">
                <p>Manage Area of Interest</p>
                <h2>Area of Interest</h2>
            </div>
            <div class="aoi-button">
                <input type="submit" data-toggle="modal" data-target="#addInterestModal" name="addNewInterest" value="Add New Interest" style="border: none; border-radius: 10px; background: #A98F64; color: white; padding: 10px 15px;" />
            </div>
        </div>

        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="display: flex; justify-content: center;">
                            <div class="custom-control">No.</div>
                        </th>
                        <th scope="col">Name of Interest: </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control text-center">@Html.Raw(i+1)</div>
                            </td>
                            <td class="d-flex justify-content-between align-items-center">
                                <div class="aoi-table-data">
                                    <p>@Model.ElementAt(i).Name</p>
                                </div>
                                <div class="aoi-table-buttons" style="padding: 0 20px;">
                                    @if (!Model.ElementAt(i).AssignedToComp)
                                    {
                                        <button type="button" class="btn btn-default btn-circle" onclick="deleteModal('@Model.ElementAt(i).Name',@Model.ElementAt(i).AreaInterestId)" style="background: #F25050;"><i class="fas fa-times" style="color: white; font-size: 16px;"></i></button>
                                    }
                                    else
                                    {
                                        <p style="text-align: center;">-</p>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal" id="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm Delete?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="deleteModalBody" style="font-weight: bold;" class="col-sm-12 d-flex justify-content-center"></div>
                    </div>
                    <div class="modal-footer">
                        <form id="deleteForm" method="post">
                            <button type="submit" class="btn btn-danger">delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="addInterestModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Interest</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="col-sm-12">
                            <label class="col-sm-12 col-form-label form-control-label">Name of Area of Interest: </label>
                            <div class="col-sm-12">
                                <form asp-action="AddInterest">
                                    <input class="form-control" type="text" name="AoiName" placeholder="Enter name of area of interest: " required style="margin-bottom: 10px;" />
                                    <button type="submit" class="btn btn-success col-sm-6">Add Interest</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>