@model WEB2021Apr_P01_T01.Models.Competition

@{
    ViewData["Title"] = "CreateCompetition";
}

@section scripts { <script> $(document).ready(function () {
     if ($("#startDate").val().split('-')[0] == 1) {
         $("#startDate").val("");
     }
     if ($("#endDate").val().split('-')[0] == 1) {
         $("#endDate").val("");
     }
     if ($("#resultDate").val().split('-')[0] == 1) {
         $("#resultDate").val("");
     }
    }); </script>
}
<body>
    <div class="container">
        <div class="">
            <p> Create Competition</p>
        </div>
        <div class="container" style="background: #E5E5E5; border-radius: 50px;">
            <form asp-action="CreateCompetition">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@

                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <label asp-for="CompetitionName" class="control-label"></label>
                        <input asp-for="CompetitionName" class="form-control" style="background-color: white;" />
                        <span asp-validation-for="CompetitionName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-6 d-flex flex-column">
                        <label asp-for="AoiName"></label>
                        <select asp-for="AoiName" asp-items="@ViewData["aoiList"] as List<SelectListItem>" style="padding: .375rem .75rem; border: 1px solid #ced4da; border-radius: .25rem;"></select>
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input id="startDate" asp-for="StartDate" class="form-control" style="background-color: white;" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input id="endDate"  asp-for="EndDate" class="form-control" style="background-color: white;" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <label asp-for="ResultsReleaseDate" class="control-label"></label>
                        <input id="resultDate"  asp-for="ResultsReleaseDate" class="form-control" style="background-color: white;" />
                        <span asp-validation-for="ResultsReleaseDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="col-sm-6"></div>
                    <div class="form-group col-sm-6 d-flex justify-content-end">
                        <input type="submit" value="Create" class="btn btn-primary" style="border-radius:10px; background: #A98F64; width: 50%" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@
</body>