@{
    ViewData["Title"] = "Admin Panel";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competition Panel - Lion City University</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container vh70">
        <div class="">
            <p>Administrator Panel</p>
            <h2>Welcome,</h2>
            <h1 class="gold">LCU Administrator</h1>
        </div>
        <div class="admin-container">
            <div class="col-sm-6 admin-left-container">
                <a asp-action="ViewJudges">
                    <img class="admin-image" src="~/images/judge-left-panel.jpg" /> 
                    <div class="admin-left-text">
                        <h4>View Judges</h4>
                        <p>Assign or Unassign judges to a competition</p>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 admin-right-container">
                <div class="admin-upper-container">
                    <a asp-action="ManageCompetition">
                        <div class="admin-upper-text">
                            <h4>Manage Competition</h4>
                            <p>Organise and create a new competition</p>
                        </div>
                    </a> 
                </div>

                <div class="admin-lower-container">
                    <a asp-action="AreaOfInterest">
                        <div class="admin-lower-text">
                            <h4>Manage Area of Interest</h4>
                            <p>Create & Delete Area of Interest</p>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>
