@model IEnumerable<WEB2021Apr_P01_T01.Models.Competition>

@{
    ViewData["Title"] = "Ongoing Competitions";
    List<AreaInterest> aoiList = (List<AreaInterest>) ViewData["AreaInterest"]; 
}

<partial name="~/Views/Shared/_CompetitionBanner.cshtml" />
<div class="container">
    <h2 class="gold mt-4">All Competitions</h2>
    <div class="ml-auto mr-auto d-flex justify-content-center flex-column mb-5">
        <p class="text-center">Filter by Area of Interest</p>
        <div class="text-center">
            <button class="btn background-gold m-2">All</button>
            @foreach (AreaInterest aoi in aoiList)
            {
                <button class="btn background-gold m-2">@aoi.Name</button>
            }
        </div>
    </div>
    <partial name="~/Views/Competition/_ViewCurrentCompetitions.cshtml" />
</div>

